@import "../../../stylesheets/layout/module";
@import "../../../stylesheets/animations/module";
@import "../../../stylesheets/typography/module";

.hourlyCard {
  @include flex-col;
  align-items: center;
  transition: 250ms;
}

.hourlyCard:hover {
  @include up-5px;
}

.hourlyTime {
  @include text-small;
}

.hourlyWind {
  @include text-small;
}

.hourlyTemp {
  @include text-regular;
}

@media (max-width: 750px) {
  .hourlyCard {
    flex-direction: row;
    justify-content: space-between;
  }

  .hourlyCard:hover {
    transform: none;
  }
}
