@import "../../../stylesheets/layout/module";
@import "../../../stylesheets/typography/module";

.day-card {
  @include flex-col;
  align-items: center;
  background-color: $gray;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  transition: 250ms;
}

.day-card:hover {
  transform: translate(0px, -5px);
}

.day-card__day {
  @include ta-center;
  font-size: 15px;
}

.day-card__type {
  @include ta-center;
  font-size: 20px;
}

@media (max-width: 750px) {
  .day-card:hover {
    transform: none;
  }
}