@import "../../../stylesheets/layout/module";
@import "../../../stylesheets/typography/module";
@import "../../../stylesheets/animations/module";

.dailyHeader {
  position: absolute;
  padding: 3px;
  border-radius: 5px;
  background-color: $ecru;
  top: -0.8em;
}

.dailyWrapper {
  margin: auto 0;
  height: 100%;
  position: relative;
  padding: 10px;
  @include flex-col;
  @include br-15;
  gap: 15px;
  background-color: $gray;
}

.dailyTemp {
  @include text-giant;
}

.dailyCondition {
  @include d-flex;
}

.dailyCondition__data {
  @include flex-col;
  justify-content: center;
  @include text-regular;
  @include ta-left;
}

.summaryWrapper {
  @include d-flex;
  @include s-btw;
}

.dailySecondaryWrapper {
  @include text-small;
  @include ta-right;
}

.windDirection {
  height: 20px;
  width: 20px;
  color: #ffffff;
}

.hourlyWrapper {
  @include d-flex;
  @include s-btw;
  width: 100%;
}

@media (max-width: 750px) {
  .summaryWrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .dailyCondition {
    flex-direction: column;
    gap: 20px;
  }

  .hourlyWrapper {
    flex-direction: column;
  }
}
