.FiveDaysWrapper {
  margin-top: 50px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}

@media (max-width: 900px) {
  .FiveDaysWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}