$width: 40vw;

.wrapper {
  position: relative;
}

.search {
  color: #000000;
  padding: 12px 10px;
  width: $width;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  outline: none;
}

.dropdown {
  position: absolute;
  background: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: $width;
  height: 0;
  overflow: hidden;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s height;
  margin: 0;
  padding: 0;
}

.dropdown li {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 10px 10px;
  list-style: none;
  border-top: 1px solid #ddd;
  color: #000000;
  text-align: left;
}

.flag {
  height: 12px;
}

.text-secondary {
  color: #808080;
}

.select-btn {
  all: unset;
  cursor: pointer;
  color: #6f92c7;
}
