@import "../../../stylesheets/layout/module";
@import "../../../stylesheets/typography/module";
@import "../../../stylesheets/animations/module";

.tabSelect {
  @include d-flex;
  margin-bottom: 15px;
  justify-content: space-around;
}

.tabSelect__item {
  @include text-regular;
  transition: 250ms;
}
.tabSelect__item:hover {
  @include up-5px;
}

.tabSelect__item input {
  all: unset;
}

.tabSelect__item label {
  cursor: pointer;
}

.tabSelect__item input[type="radio"]:checked + label {
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 2px;
  background-color: $gray;
}
