@import "./stylesheets/layout/module";

.app-layout {
  @include d-flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: 0.4s height;
}

.widget {
  @include flex-col;
  width: 50vw;
  max-width: 900px;
  gap: 15px;
}

@media (max-width: 1120px) {
  .widget {
    width: 75vw;
  }
}

@media (max-width: 750px) {
  .widget {
    width: 90vw;
  }
}
