@import "./stylesheets/layout/module";

.app-layout {
  @include d-flex;
  background: linear-gradient($yellow, $ecru, $green);
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.widget {
  @include flex-col;
  @include br-20;
  padding: 20px;
  width: 900px;
  gap: 15px;
  background-color: $blue;
  transition: 1s height;
}

@media (max-width: 1120px) {
  .widget {
    width: 75vw;
  }
}

@media (max-width: 750px) {
  main {
    width: 100%;
  }
  .widget {
    width: 100%;
    border-radius: 0;
  }
}
